# IDE and Editor
.vscode/

# External Tools and Dependencies
boolector/
yosys/
sby/
OpenRAM/
openlane2/

# Virtual Environment
.venv/

# Build and Output Files
dump/
runs/
.Xil/
*.log
*.vcd
*.jou

# Project Files
TODO.md
project_async_fifo/
